<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14011892852-o257bqfmvd3c3gj3efa6vadrk6tjc3h0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14011892852-o257bqfmvd3c3gj3efa6vadrk6tjc3h0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>14011892852-49trr2sofiu140nildob9hfjc0g78kq2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdjN-7mcnOaeRoF02mWb84ahmVU-UDCn8</string>
	<key>GCM_SENDER_ID</key>
	<string>14011892852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anxietystressselfmanagement</string>
	<key>PROJECT_ID</key>
	<string>anxiety-and-stress</string>
	<key>STORAGE_BUCKET</key>
	<string>anxiety-and-stress.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14011892852:ios:99551254d9b7d8f66cfd21</string>
	<key>DATABASE_URL</key>
	<string>https://anxiety-and-stress-default-rtdb.firebaseio.com</string>
</dict>
</plist>